<section class="twelve columns">
    <h1>About me</h1> 
        <article>

        <p>Bilge Acun is a Research Scientist at Meta AI / FAIR, SysML team. She is working on making large scale machine learning systems more efficient through algorithmic and system optimizations.
	</p><br/>

        <p>
        She received her Ph.D. degree in 2017 at the Department of Computer Science at <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a>, advised by Professor <a href="http://charm.cs.uiuc.edu/">Laxmikant V. Kale</a>.
        Before joining Meta/Facebook, she worked at the IBM Thomas J. Watson Research Center as a Research Staff Member.
        </p><br/>

	Her research interests include Systems for Machine Learning, Parallel and Distributed Computing, Computer Architecture, Energy Efficient Computing, Smart Runtime Systems.
    </article>
</section>
