<section class="twelve columns">
    <h1>About me</h1> 
        <article>

        <p>Bilge Acun is a Research Scientist at Facebook AI Infrastructure. She is working on end-to-end performance optimization of distributed machine learning applications, i.e. from computer vision, speech recognition, personalization, with Pytorch and Caffe2 on large-scale data-centers with GPUs.

	</p><br/>

        <p>
        She received her Ph.D. degree at the Department of Computer Science at <a href="http://www.illinois.edu">Universtiy of Illinois at Urbana-Champaign</a>, advised by Professor <a href="http://charm.cs.uiuc.edu/">Laxmikant V. Kale</a>. 
        Before joining Facebook, she worked at the IBM Thomas J. Watson Research Center as a Research Staff Member.
        </p><br/>

	Her research interests include Parallel and Distributed Computing, Systems for Machine Learning, Energy Efficient Computing, High Performance Computing (HPC), Smart Runtime Systems.
    </article>
</section>
