<section class="twelve columns" id="activities">
    <h1>Services and Activities</h1>
    <p><strong>Organizing Activities</strong></p>
<br>
    <article>
        <ul>
            <li>
            <p>PC Chair for the HPC for Machine Learning track at Supercomputing<a href="https://sc24.supercomputing.org/planning-committee/"> (SC'24)</a></p>
            </>
            <li>
            <p>PC Member at Conference on Machine Learning and Systems <a href="https://mlsys.org">(MLSys'22 & '23 & '24)</a></p>
            </>
            <li>
            <p>PC Member at IEEE International Parallel & Distributed Processing Symposium <a href="http://www.ipdps.org">(IPDPS'22 & IPDPS'23)</a></p>
            </>
            <li>
            <p>PC Member at Workshop on Benchmarking Machine Learning Workloads on Emerging Hardware <a href="https://memani1.github.io/mlbench21/">(MLSys'21)</a></p>
            </>
            <li>
            <p>PC Member at the 37th IEEE International Conference on Computer Design <a href="https://www.iccd-conf.com/Home.html">(ICCD'19).</a></p>
            </li>
            <li>
	    </p>PC Member at the Women in High Performance Computing Workshop <a href="https://womeninhpc.org/whpc-sc18/workshop/committee/">(WHPC at SC'18).</a><p>
            </li>
	    <li>
            <p>Workshop Organizer for “Ethics in Computing Workshop” at Heidelberg Forum <a href="https://www.heidelberg-laureate-forum.org/">(HLF'18).</a></p>
	    </li>
            <li>
            <p>Co-organizer, Women Empowered in STEM Conference <a href="https://www.societyofwomenengineers.illinois.edu/westem-conference">(weSTEM'14).</a></p>
            </li>
        </ul>
    </article>

    <p><strong>Peer Review Activities</strong></p>
    <article>
        <ul>
            <li>
	    <p>External Reviewer for IEEE Transactions on Parallel and Distributed Systems <a href="https://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=71"> (TPDS'22).</a></p>
            </li>
            <li>
	    <p>External Reviewer for IEEE Transactions on Cloud Computing <a href="https://www.computer.org/csdl/journal/cc"> (TCC'19).</a></p>
            </li>
            <li>
	    <p>External Reviewer for Latin America High Performance Computing Conference (CARLA)<a href="https://www.carla2019.org/"> (CARLA'19).</a></p>
            </li>
        </ul>
    </article>

    <p><strong>Other Activities</strong></p>
    <article>
        <ul>
	<li>
	<p>Technical Session Chair, "Data Centers" & "Energy Efficiency and Measurements" Sessions at <a href="https://www.igscc.org/">IGSC'19</a>.</p>
	</li>
	<li>
	<p>Technical Session Chair, “Interfaces Session”, at 15th Annual Charm++ Workshop and Applications, <a href="https://charm.cs.illinois.edu/workshops/charmWorkshop2017/program.php">Charm++'17</a>.</p>
	</li>
	<li>
	<p>Technical Session Chair, “Applications Session”, at 14th Annual Charm++ Workshop and Applications, <a href="https://charm.cs.illinois.edu/workshops/charmWorkshop2016/program.php">Charm++'16.</a></p>
	</li>
	<li>
	<p>Charm++ Hands-on Tutorial, at Argonne Training Program on Extreme-Scale Computing, <a href="https://extremecomputingtraining.anl.gov/"> ATPESC'15</a>.
	</li>
	<li>
	<p>Graduate Student Mentor, Department of Computer Science at UIUC. 2013-2015.</p>
	</li>
        </ul>
    </article>
</section>
