<section class="twelve columns" id="awards">
    <h1>Honors and Awards</h1>
    <article>
        <ul>
            <li>
            2018 ACM SigHPC Dissertation Award <a href="https://www.sighpc.org/for-your-career/dissertation-award/2018-award-winner-dhairya-malhotra#h.p_j7YBc_SHFzjx">Honorable Mention.</a>
            </li>
            <li>
            2018 Selected as an Heidelberg Laureate <br>
            Heidelberg Laureate Forum brings together Turing Laureates with young researchers.
            </li>
            <li>
	    2017 Selected as a <a href="https://risingstars2017.stanford.edu/organizing-committee/bilge-acun/">Rising Star in EECS, Stanford University </a> <br>
            </li>
            <li>
            2017 <a href="https://cs.illinois.edu/about-us/awards/graduate-fellowships-awards/kenichi-miura-award">Kenichi Miura Award, UIUC</a> <br>
            This award honors a graduate student for excellence in High Performance Computing.
            </li>
            <li>
            2017 <a href="https://tec.illinois.edu/images/Bilge%20Poster.jpg">Illinois Innovation Prize Finalist, Technology Entrepreneur Center, UIUC</a><br>
	    The prize is awarded on to the most innovative students on campus annually (with $2500 prize for finalists).
            </li>
            <li>
            2016 <a href="http://www.researchpark.illinois.edu/AWARE">AWARE (Accelerating Women And underRepresented Entrepreneurs)</a> Grant Winner, UIUC Research Park <br>
            A 2500$ grant to develop a prototype for innovative ideas.
            </li>
            <!--<li>
            2016 Cover featured article on IEEE Computer magazine October issue <br>
            This publication is the flagship magazine of IEEE Computer Society.
            </li>-->
            <li>
            2012-13 <a href="https://cs.illinois.edu/about-us/awards/graduate-fellowships-awards/saburo-muroga-endowed-fellowship">Saburo Muroga Endowed Fellowship, UIUC</a>
            </li>
            <li>
            2012 Salutatorian, second highest GPA among graduating class, Bilkent University
            </li>
            <li>
            2011 Erasmus Exchange Program Scholarship, Uppsala University, Sweden
            </li>
            <!--<li>
            2008-12 High Honor Standing for 8 Semesters, Bilkent University
            </li>-->
            <li>
            2008-12 Bachelor of Science Full Tution-Waiver with Stipend Merit Scholarship, Bilkent University
            </li>
        </ul>
    	<p><strong>Travel Grants</strong></p>
        <ul>
            <li>
            2017 <a href="https://students.googleblog.com/2017/07/google-travel-grant-application-2017.html">Grace Hopper Celebration Travel Grant, Google </a><br>
            </li>
            <li>
            2013 Grace Hopper Celebration Travel Grant, Department of Computer Science, UIUC
            </li>
        </ul>

    </article>
</section>
