<section class="twelve columns">
    <h1>News</h1>
        <article>
        <!-- <h1>News</h1> -->
        <ul>
	  <li><strong>Nov 5 '19:</strong> Speaker at <a href="https://womeninresearchdinneruiuc.splashthat.com/">Women in Tech Recruitment Session for Facebook</a> at UIUC. </li>
          <li><strong>Oct 23 '19:</strong> Present "Fine-Grained Energy Efficiency Using Per-Core DVFS with an Adaptive Runtime System" paper in <a href="https://www.igscc.org/">IGSC'19</a>, Alexandria, VA</li>
	  <li><strong>Feb 20 '19:</strong> Present "Power Aware Heterogeneous Node Assembly" paper at <a href="http://hpca2019.seas.gwu.edu/">HPCA'19</a>, Washington D.C.
        </ul>
    </article>
</section>
