<section class="twelve columns">
    <h1>News</h1>
        <article>
        <!-- <h1>News</h1> -->
        <ul>
          <li><strong>Apr 14 '21:</strong> Giving a talk at <a href="https://www.nvidia.com/en-us/gtc/?ncid=pa-srch-goog-35830#cid=gtcs21_pa-srch-goog_en-us">NVIDIA GTC 2021</a> on "Large-Scale Deep Learning Recommendation Models at Facebook"</li>
	  <li><strong>Apr 5 '21:</strong> Received Outstanding Paper Award <a href="https://mlsys.org/Conferences/2021/BestPapers"> at MLSys with TT-Rec paper!</a>
          <li><strong>Apr 5 '21:</strong> Giving a talk at <a href="https://mlsys.org/">MLSys 2021</a> on our accepted paper "TT-Rec: Tensor Train Compression for Deep Learning Recommendation Models".</li>
          <li><strong>Mar 3 '21:</strong> Giving a talk at <a href="https://hpca-conf.org/2021/main-program/">HPCA 2021</a> industry session titled "Understanding Training Efficiency of Deep Learning Recommendation Models at Scale".</li>
	  <li><strong>Aug 23 '20:</strong> Giving a talk at <a href="https://sites.google.com/g.harvard.edu/mlbench">MLBench Workshop at ISPASS 2020</a> titled "Characteristics of Facebook's Deep Learning Recommendation Training Workloads".</li>
	  <li><strong>May 29 '20:</strong> Giving a plenary talk at <a href="https://personal-tutorial.com/personal-at-isca-2020/"> PeRSonAl at ISCA 2020</a> titled "Ins and Outs of Using GPUs for Training Recommendation Models".</li>
	  <li><strong>Nov 5 '19:</strong> Panelist at <a href="https://womeninresearchdinneruiuc.splashthat.com/">Women in Tech Recruitment Session for Facebook</a> at UIUC. </li>
          <li><strong>Oct 23 '19:</strong> Presenting "Fine-Grained Energy Efficiency Using Per-Core DVFS with an Adaptive Runtime System" paper in <a href="https://www.igscc.org/">IGSC'19</a>, Alexandria, VA</li>
	  <li><strong>Feb 20 '19:</strong> Presenting "Power Aware Heterogeneous Node Assembly" paper at <a href="http://hpca2019.seas.gwu.edu/">HPCA'19</a>, Washington D.C.
        </ul>
    </article>
</section>
