<section class="twelve columns" id="publication">
    <h1>Patents</h1>
    <br style = “line-height:100px;”> 
     <article>
        <ol>
            <li>
                <header>
                    <p><em>Device Identification via Chip Manufacturing Related Fingerprints</em></p>
                    <span><strong>B. Acun</strong></span>
                </header>
                <p>
                    <em>US Patent No: 11,205,018. <time>2021. </time> </em>
                     <br/>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Locality aware data loading for machine learning</em></p>
                    <span>C. C. Yang, G. Cong, <strong>B. Acun</strong> A. Morari</span>
                </header>
                <p>
                    <em>US Patent No: 11,093,862. <time>2021. </time> </em>
                     <br/>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Learning-based Thermal Estimation in Multicore Architectures</em></p>
                    <span>E. K. Lee, <strong>B. Acun</strong>, Y. Park, P. W. Coteus</span>
                </header>
                <p>
                    <em>US Patent Application No: 16/116,289. <time>2018. </time> </em>
                     <br/>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Variation-Aware Intra-Node Power Shifting Among Different Hardware Components</em></p>
                    <span>E. K. Lee, <strong>B. Acun</strong>, Y. Park, A. Morari, A. Buyuktosunoglu</span>
                </header>
                <p>
                    <em>US Patent Application No: 16/127,958.<time> 2018. </time> </em>
                     <br/>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Multi-Component Power-Aware Job Scheduling Based on Node and Application Characteristics</em></p>
                    <span> <strong>B. Acun,</strong> E. K. Lee, Y. Park </span>
                </header>
                <p>
                    <em>US Patent Application No: 15/827,208.<time>2017. </time> </em>
                     <br/>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Power Efficiency Aware Node Component Assembly</em></p>
                    <span> <strong>B. Acun,</strong> E. K. Lee, Y. Park </span>
                </header>
                <p>
                    <em>US Patent Application No: 15/658,494.<time> 2017. </time> </em>
                     <br/>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Systems and Methods for Computer Input</em></p>
                    <span> <strong> B. Acun</strong>, E. Candan </span>
                </header>
                <p>
                    <em>US Patent Application No: 15/252,163.<time> 2017. </time> </em>
                     <br/>
                </p>
            </li>

        </ol>
    </article>
 
</section>
