<section class="twelve columns" id="patents">
    <h1>Patents</h1>
    <br style = “line-height:10px;”> 
     <article>
        <ol>
            <li>
                    <p><em>Device Identification via Chip Manufacturing Related Fingerprints</em></p>
                    <span><strong>B. Acun</strong></span>
                    </br><a href="https://patents.google.com/patent/US20200265168A1/en">US Patent No: 11,205,018</a>, 2019.</em>
            </li>
            <li>
                    <p><em>Locality Aware Data Loading for Machine Learning</em></p>
                    <span>C. C. Yang, G. Cong, <strong>B. Acun</strong>, A. Morari</span>
                    </br><a href="https://patents.google.com/patent/US11093862B2/en">US Patent No: 11,093,862</a>, 2019.</em>
            </li>
            <li>
                    <p><em>Learning-based Thermal Estimation in Multicore Architectures</em></p>
                    <span>E. K. Lee, <strong>B. Acun</strong>, Y. Park, P. W. Coteus</span>
                    </br><a href="https://patents.google.com/patent/US11334398B2/en">US Patent No: 11,334,398</a>, 2018.</em>
            </li>
            <li>
                    <p><em>Variation-Aware Intra-Node Power Shifting Among Different Hardware Components</em></p>
                    <span>E. K. Lee, <strong>B. Acun</strong>, Y. Park, A. Morari, A. Buyuktosunoglu</span>
                    </br><a href="https://patents.google.com/patent/US10761583/en">US Patent No: 10,761,583</a>, 2018.</em>
            </li>
            <li>
                    <p><em>Job Scheduling Based on Node and Application Characteristics</em></p>
                    <span> <strong>B. Acun,</strong> E. K. Lee, Y. Park </span>
                    </br><a href="https://patents.google.com/patent/US10725834B2/en">US Patent No: 10,725,834</a>, 2017.</em>
            </li>
            <li>
                    <p><em>Power Efficiency Aware Node Component Assembly</em></p>
                    <span> <strong>B. Acun,</strong> E. K. Lee, Y. Park </span>
                    </br><a href="https://patents.google.com/patent/US10831252B2/en">US Patent No: 10,831,252</a>, 2017.</em>
            </li>
            <li>
                    <p><em>Systems and Methods for Computer Input</em></p>
                    <span> <strong> B. Acun</strong>, E. Candan </span>
                    </br><a href="https://patents.google.com/patent/US20180059801A1/en">US Patent App. No: 15/252,163</a>, 2017.</em>
            </li>

        </ol>
    </article>
 
</section>
