<section class="twelve columns" id="publication">

    <h1>Selected Publications <a class="navigation-link" href="{{ site.baseurl }}/pubs" data-popover>[Full List]</a> </h1>
    <!--  <p><strong>&starf; 10 conference papers &starf; 1 book chapter &starf; 3 journal papers &starf; 3 workshop papers <br> &starf; 7 patents &starf; </strong></p> -->
    <!-- <br style = “line-height:200px;”> -->
    <h4><strong>Sustainable Datacenters and AI</strong></h4>
    <article>
        <header>
            <span style="background-color: #E1BEE7"><strong>[ASPLOS'23]</strong></span>&nbsp;
            <a href="https://dl.acm.org/doi/abs/10.1145/3575693.3575754">[paper]</a>&nbsp;
	    <a href="{{ site.baseurl }}/pubs/papers/23/this.bib">[bib]</a>
            <a href="https://github.com/facebookresearch/CarbonExplorer">[code]</a>
            <a href="https://www.youtube.com/live/LPrFL2gWmTY?feature=share">[talk at Stanford]</a>&nbsp;
            <p><em>Carbon Explorer: A Holistic Approach for Designing Carbon Aware Datacenters</em></p>
            <span><strong>B. Acun</strong>, B. Lee, F. Kazhamiaka, K. Maeng, M. Chakkaravarthy, U. Gupta, D. Brooks, C. J. Wu</span>
            </br>ACM International Conference on Architectural Support for Programming Languages and Operating Systems, 2023.
        </header>
</br>
      <header>
            <span style="background-color: #E1BEE7"><strong>[MLSys'22]</strong></span>&nbsp;
            <a href="https://arxiv.org/pdf/2111.00364.pdf">[paper]</a>&nbsp;
	    <a href="{{ site.baseurl }}/pubs/papers/20/this.bib">[bib]</a>
            <p><em>Sustainable AI: Environmental Implications, Challenges and Opportunities</em></p>
            <span>C. J. Wu, R. Raghavendra, U. Gupta, <strong>B. Acun</strong>, et al.</span>
            </br>Conference on Machine Learning and Systems, 2022.
        </header>
    </article>

    <h4><strong>Efficient ML Training</strong></h4>
    <article>
        <header>
            <span style="background-color: #E1BEE7"><strong>[MLSys'21]</strong></span><a></a>
            <span style="background-color: #A5D6A7"><strong>[Outstanding Paper Award]</strong></span>
            <a href="https://arxiv.org/pdf/2101.11714.pdf">[paper]</a>&nbsp;
	    <a href="{{ site.baseurl }}/pubs/papers/16/this.bib">[bib]</a>
            <a href="https://github.com/facebookresearch/FBTT-Embedding">[code]</a>&nbsp;
            <p><em>TT-Rec: Tensor Train Compression for Deep Learning Recommendation Models</em></p>
            <span>C. Yin, <strong>B. Acun</strong>, X. Liu, C. J. Wu</span>
            </br>Conference on Machine Learning and Systems,2021.
        </header>
</br>
         <header>
            <span style="background-color: #E1BEE7"><strong>[HPCA'21]</strong></span>&nbsp;
            <a href="https://arxiv.org/pdf/2011.05497.pdf">[paper]</a>
	    <a href="{{ site.baseurl }}/pubs/papers/15/this.bib">[bib]</a>
            <p><em>Understanding Training Efficiency of Deep Learning Recommendation Models at Scale</em></p>
            <span><strong>B. Acun</strong>, M. Murphy, X. Wang, J. Nie, C. J. Wu, K. Hazelwood</span>
            </br>IEEE International Symposium on High-Performance Computer Architecture, 2021.
         </header>
</br>
         <header>
            <span style="background-color: #E1BEE7"><strong>[Micro'21]</strong></span>&nbsp;
            <a href="https://ieeexplore.ieee.org/abstract/document/9484727">[paper]</a>
	    <a href="{{ site.baseurl }}/pubs/papers/17/this.bib">[bib]</a>
            <p><em>Datacenter-Scale Analysis and Optimization of GPU Machine Learning Workloads</em></p>
            <span>L. Wesolowski, <strong>B. Acun</strong>, V. Andrei, A. Aziz, G. Dankel, C. Gregg, X. Meng, C. Meurillon, D. Sheahan, L. Tian, J. Yang, P. Yu, K. Hazelwood</span>
            </br>IEEE Micro, 2021.
         </header>

    </article>


    <h4><strong>High Performance Computing</strong></h4>
    <article>
        <header>
            <span style="background-color: #E1BEE7"><strong>[HPCA'19]</strong></span>&nbsp;
            <a href="https://ieeexplore.ieee.org/abstract/document/8675210">[paper]</a>
	    <a href="{{ site.baseurl }}/pubs/papers/13/this.bib">[bib]</a>
            <p><em>Power-Aware Heterogeneous Node Assembly</em></p>
            <span><strong>B. Acun</strong>, A Buyuktosunoglu, E. K. Lee, Y. Park</span>
            </br>IEEE International Symposium on High-Performance Computer Architecture, 2019.
        </header>
</br>
        <header>
            <span style="background-color: #E1BEE7"><strong>[ICS'16]</strong></span>&nbsp;
            <a href="http://charm.cs.illinois.edu/newPapers/16-08/paper.pdf">[paper]</a>
	    <a href="{{ site.baseurl }}/pubs/papers/7/this.bib">[bib]</a>
            <p><em>Variation Among Processors Under Turbo Boost in HPC Systems</em></p>
            <span><strong>B. Acun</strong> , P. Miller, L. V. Kalé</span>
            </br>International Conference on Supercomputing, 2016.
        </header>
</br>
         <header>
            <span style="background-color: #E1BEE7"><strong>[Computer'16]</strong></span>&nbsp;<a></a>
            <span style="background-color: #A5D6A7"><strong>[Cover Featured]</strong></span>
            <a href="http://charm.cs.illinois.edu/newPapers/16-12/paper.pdf">[paper]</a>
	    <a href="{{ site.baseurl }}/pubs/papers/8/this.bib">[bib]</a>
            <p><em>Power, Reliability, Performance: One System to Rule Them All</em></p>
            <span><strong>B. Acun</strong>, A. Langer, H. Menon, O. Sarood, E. Totoni, and L. V. Kalé.</span>
            </br>IEEE Computer, Energy Efficient Computing Special Issue, 2016.
         </header>
</br>
          <header>
            <span style="background-color: #E1BEE7"><strong>[SC'14]</strong></span>&nbsp;
            <a href="http://charm.cs.illinois.edu/newPapers/14-07/paper.pdf">[paper]</a>
	    <a href="{{ site.baseurl }}/pubs/papers/3/this.bib">[bib]</a>
            <a href="https://github.com/UIUC-PPL/charm">[code]</a>
            <p><em>Parallel Programming with Migratable Objects: Charm++ in Practice</em></p>
            <span><strong>B. Acun</strong>, A. Gupta, N. Jain, A. Langer, H. Menon, E. Mikida, X. Ni, M. Robson, Y. Sun, E. Totoni, L. Wesolowski, L. V. Kalé.  </span>
            </br>Supercomputing (SC), 2014.
          </header>
    </article>

</section>
