<section class="twelve columns" id="publication">
    <h1>Selected Publications</h1>
    <!--  <p><strong>&starf; 10 conference papers &starf; 1 book chapter &starf; 3 journal papers &starf; 3 workshop papers <br> &starf; 7 patents &starf; </strong></p> -->
    <br style = “line-height:100px;”> 
    <p><strong>Conference Papers</strong></p>
    <article>
        <ol>
            <li>
                <header>
                    <p><em>Carbon Explorer: A Holistic Approach for Designing Carbon Aware Datacenters</em></p>
                    <span><strong>B. Acun</strong>, B. Lee, F. Kazhamiaka, K. Maeng, M. Chakkaravarthy, U. Gupta, D. Brooks, C. J. Wu</span>
                </header>
                <p>
                    <em>ACM International Conference on Architectural Support for Programming Languages and Operating Systems (ASPLOS)<time> 2023.</time></em>
                     <br/><a href="https://dl.acm.org/doi/abs/10.1145/3575693.3575754">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:5h4_jq_68q0J:scholar.google.com/&output=citation&scisdr=CpscrBQ9EIjdg63Wayk:AJ9-iYsAAAAAZDDQcylSSKUdv_yTZ0mxgb33jSA&scisig=AJ9-iYsAAAAAZDDQc5ypfIHJJ_gamTDCzCx8eTI&scisf=4&ct=citation&cd=-1&hl=en">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Sustainable AI: Environmental Implications, Challenges and Opportunities</em></p>
                    <span>C. J. Wu, R. Raghavendra, U. Gupta, <strong>B. Acun</strong>, et al.</span>
                </header>
                <p>
                    <em>Conference on Machine Learning and Systems (MLSys)<time> 2022.</time></em>
                     <br/><a href="https://arxiv.org/pdf/2111.00364.pdf">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:nmj9VGVOAOQJ:scholar.google.com/&output=citation&scisdr=CgXjXchcEOSCxZ71N9A:AAGBfm0AAAAAYhLzL9DhtPq5JjRCoLYvOagXRbjeXi8c&scisig=AAGBfm0AAAAAYhLzL4whl9-fRZgECIdXmEXtTIOjR3uI&scisf=4&ct=citation&cd=-1&hl=en">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>TT-Rec: Tensor Train Compression for Deep Learning Recommendation Models</em></p>
                    <span>C. Yin, <strong>B. Acun</strong>, X. Liu, C. J. Wu</span>
                </header>
                <p>
                    <em>Conference on Machine Learning and Systems (MLSys)<time> 2021.</time></em>
		    <span style="background-color: #FFFF00">[Outstanding Paper Award].</span>
                     <br/><a href="https://arxiv.org/pdf/2101.11714.pdf">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:5Tt1KBnZZSEJ:scholar.google.com/&output=citation&scisdr=CgUiDOkDEJm1xbquKWw:AAGBfm0AAAAAYEWrMWynQbLuD6LM6YVPoVfkxujuOvGl&scisig=AAGBfm0AAAAAYEWrMd4Zq4YH5tzztFEXkQjA6zpSAMMz&scisf=4&ct=citation&cd=-1&hl=en&scfhb=1">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Understanding Training Efficiency of Deep Learning Recommendation Models at Scale</em></p>
                    <span><strong>B. Acun</strong>, M. Murphy, X. Wang, J. Nie, C. J. Wu, K. Hazelwood</span>
                </header>
                <p>
                    <em>IEEE International Symposium on High-Performance Computer Architecture (HPCA)<time> 2021.</time></em>
                     <br/><a href="https://arxiv.org/pdf/2011.05497.pdf">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:tyYFV5Jqwe0J:scholar.google.com/&output=citation&scisdr=CgUiDOkDEJm1xbqv2sQ:AAGBfm0AAAAAYEWqwsQItT8FJRA--0HOPLkeMjZ5eisU&scisig=AAGBfm0AAAAAYEWqwts5dgaG8xF8Zl_bgAmu2t__CnlD&scisf=4&ct=citation&cd=-1&hl=en&scfhb=1">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Power-Aware Heterogeneous Node Assembly</em></p>
                    <span><strong>B. Acun</strong>, A Buyuktosunoglu, E. K. Lee, Y. Park</span>
                </header>
                <p>
                    <em>IEEE International Symposium on High-Performance Computer Architecture (HPCA)<time> 2019.</time></em>
                     <br/><a href="https://ieeexplore.ieee.org/abstract/document/8675210">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:ffm2WnOBbYsJ:scholar.google.com/&output=citation&scisdr=CgUiDOkDEJm1xbqoME8:AAGBfm0AAAAAYEWtKE8kcUJt3tuscp55_CNyYsUiBokt&scisig=AAGBfm0AAAAAYEWtKMISv5OF9JSkamE5Fil68oLv8E0h&scisf=4&ct=citation&cd=-1&hl=en&scfhb=1">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Support for Power Efficient Proactive Cooling Mechanisms</em></p>
                    <span><strong>B. Acun</strong>, E. K. Lee, Y. Park, L. V. Kalé  </span>
                </header>
                <p>
                    <em>International Conference on High Performance Computing (HiPC)<time> 2017.</time></em>
                     <br/><a href="https://ieeexplore.ieee.org/abstract/document/8287739">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:8PiyP6jwGlwJ:scholar.google.com/&output=citation&scisdr=CgUiDOkDEJm1xbqoHLo:AAGBfm0AAAAAYEWtBLouclSuugUPWfN9ApddQEv9JrXd&scisig=AAGBfm0AAAAAYEWtBNHgQWzHzS3_W4A2T17mPtpiyj5Y&scisf=4&ct=citation&cd=-1&hl=en&scfhb=1">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Variation Among Processors Under Turbo Boost in HPC Systems</em></p>
                    <span><strong>B. Acun</strong> , P. Miller, L. V. Kalé</span>
                </header>
                <p>
                    <em> International Conference on Supercomputing (ICS).<time> 2016.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/16-08/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/16-08/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Towards Realizing the Potential of Malleable Jobs</em></p>
                    <span>A. Gupta, <strong>B. Acun</strong> , O. Sarood, L. V. Kalé</span>
                </header>
                <p>
                    <em>International Conference on High Performance Computing (HiPC)<time> 2014.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/14-29/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/14-29/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Parallel Programming with Migratable Objects: Charm++ in Practice</em></p>
                    <span><strong>B. Acun</strong>, A. Gupta, N. Jain, A. Langer, H. Menon, E. Mikida, X. Ni, M. Robson, Y. Sun, E. Totoni, L. Wesolowski, L. V. Kalé.  </span>
                </header>
                <p>
                    <em>Supercomputing (SC) <time> 2014.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/14-07/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/14-07/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Thermal-Aware Automated Load Balancing for HPC Applications.</em></p>
                    <span>H. Menon, <strong>B. Acun</strong> , SG De Gonzalo, O. Sarood, L. V. Kalé </span>
                </header>
                <p>
                    <em> IEEE International Conference on Cluster Computing (CLUSTER)<time> 2013.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/13-33/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/13-33/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em> Topic Tracking Using Chronological Term Ranking</em></p>
                    <span><strong>B. Acun</strong>, A. Başpınar, E. Oğuz, M.İ. Saraç, F. Can</span>
                </header>
                <p>
                    <em>International Symposium on Computer and Information Sciences (ISCIS)<time> 2013.</time></em>
                     <br/><a href="http://repository.bilkent.edu.tr/bitstream/handle/11693/27942/Topic%20tracking%20using%20chronological%20term%20ranking.pdf?sequence=1">[paper]</a>
                     <a href="bib">[bib]</a>
                </p>
            </li>
        </ol>
    </article>
    <p><strong>Journal Papers</strong></p>
    <article>
        <ol>
            <li>
                <header>
                    <p><em>Datacenter-Scale Analysis and Optimization of GPU Machine Learning Workloads</em></p>
                    <span>L. Wesolowski, <strong>B. Acun</strong>, V. Andrei, A. Aziz, G. Dankel, C. Gregg, X. Meng, C. Meurillon, D. Sheahan, L. Tian, J. Yang, P. Yu, K. Hazelwood</span>
                </header>
                <p>
                    <em>IEEE Micro<time> 2021.</time></em>
                     <br/><a href="https://ieeexplore.ieee.org/abstract/document/9484727">[paper]</a>
                     <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:Ti2qAQbnaKQJ:scholar.google.com/&output=citation&scisdr=CgXjXchcEOSCxZ7zKO8:AAGBfm0AAAAAYhL1MO9y2b1-4C17tZd-Rt5qHcpL6ARK&scisig=AAGBfm0AAAAAYhL1MExq2OAN2jCVlMm3MuRy6Uz7ilw0&scisf=4&ct=citation&cd=-1&hl=en">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Scalable molecular dynamics with NAMD on the Summit system</em></p>
                    <span><strong>B. Acun</strong>, D.J. Hardy, L.V. Kalé, K. Li, J.C. Phillips, J.E. Stone </span>
                </header>
                <p>
                    <em>IBM Journal of Research and Development, <time> 2017.</time> </em>
                     <br/><a href="{{ site.baseurl }}/static/files/x.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/17-12/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Power, Reliability, Performance: One System to Rule Them All</em></p>
                    <span><strong>B. Acun</strong>, A. Langer, H. Menon, O. Sarood, E. Totoni, and L. V. Kalé.</span>
                </header>
                <p>
                    <em>IEEE Computer, Energy Efficient Computing Special Issue, <time> 2016.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/16-12/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/16-12/this.bib">[bib]</a>
                </p>
            </li>

        </ol>
    </article>
    <p><strong>Book Chapter</strong></p>
    <article>
        <ol>
            <li>
                <header>
                    <p><em>NAMD: Scalable Molecular Dynamics Based on the Charm++ Parallel Runtime System</em></p>
                    <span><strong>B. Acun</strong>, R. Buch, , L.V. Kalé, J. C. Phillips </span>
                </header>
                <p>
                    <em>Exascale Scientific Applications: Scalability and Performance Portability, CRC Press <time>2017.</time> </em>
                     <br/><a href="{{ site.baseurl }}/static/files/x.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/17-12/this.bib">[bib]</a>
                </p>
            </li>

        </ol>
    </article>

    <p><strong>Workshop Papers</strong></p>
    <article>
        <ol>
            <li>
                <header>
                    <p><em>Neural Network-Based Task Scheduling with Preemptive Fan Control</em></p>
                    <span><strong>B. Acun</strong>, E. K. Lee, Y. Park, L. V. Kalé</span>
                </header>
                <p>
                    <em>International Workshop on Energy Efficient Supercomputing (E2SC, SC)<time> 2016.</time></em>
                     <br/><a href="{{ site.baseurl }}/static/files/x.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/16-13/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Mitigating Processor Variation with Dynamic Load Balancing</em></p>
                    <span><strong>B. Acun</strong>, L. V. Kalé</span>
                </header>
                <p>
                    <em>IEEE International Workshop on Variability in Parallel and Distributed Systems (VarSys, IPDPS).<time> 2016.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/16-03/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/16-03/this.bib">[bib]</a>
                </p>
            </li>
            <li>
                <header>
                    <p><em>TraceR: A Parallel Trace Replay Tool for Studying Interconnection Networks</em></p>
                    <span><strong>B. Acun</strong>, N. Jain, A. Bhatele, L. V. Kalé</span>
                </header>
                <p>
                    <em>Workshop on Parallel and Distributed Agent-Based Simulations (PADABS, EUROPAR). <time> 2015.</time></em>
                     <br/><a href="http://charm.cs.illinois.edu/newPapers/15-14/paper.pdf">[paper]</a>
                     <a href="http://charm.cs.illinois.edu/newPapers/15-14/this.bib">[bib]</a>
                </p>
            </li>
        </ol>
    </article>
</section>
